* {
    font-family: 'Courier New', monospace; /* Класичний моноширинний шрифт */
    margin: 0;
    padding: 0;
}

/* Головне верхнє меню */
header {
    background: #333;
    width: 100%;
}
.top-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
/* Головне верхнє меню => Кнопки */
.top-menu ul li a {
    width: 100px;
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px 2.5px;
    border: 1px solid white;
    border-radius: 5px;
}
.top-menu ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

/* Стиль для логотипа */
#logo {
    display:inline;    
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #00FFD1; /* Неоново-синій колір */
    background: linear-gradient(45deg, #00FFD1, #00BFFF); /* Градієнт */
    background-clip: text; /* Текст з градієнтом */
    color: transparent; /* Текст прозорий */
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 212, 0.8), 0 0 20px rgba(0, 255, 212, 0.5); /* Тінь для ефекту */
    transition: transform 0.3s ease-in-out;
}

/* Основний контейнер */
.container {
    display: flex;
    width: 100%;
}
h1 {
    text-align: center;
}
section h2 {
    padding-left: 10px;
}
section h3 {
    padding-left: 25px;
}
section p {
    margin: 10px 10px;
}
section ul {
    margin: 5px 10px;
    margin-left: 25px;
}
section details {
    margin: 5px 10px;
}
code {
    font-weight: 900;
}
/*
code {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5;
    background: #333;
    color: aliceblue;
}*/
details pre {
    background-color: #333;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
}
.codeResult {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}
/* Бокове меню */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #222;
    color: white;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: 10px;
    padding-bottom: 0;
}
/* Бокове меню => Кнопки */
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 5px;
}
.sidebar ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

/* Контент */
.content {
    width: 100%;
    padding: 10px;
}
